In [1]:
import pandas as pd
import numpy as np

In [2]:
count = 1
name1 = []
name2 = []
phone = []
loc = []
mail = []
degr = []
prog = []
uni = []
yr1 = []
yr2 = []
pos = []
org = []
yr = []
expr = []
Sum = []
obj = []
a = []
SK = []
SKL = []

print("PERSONAL INFORMATION\n")
lname = input("Last name:  ")
name1.append(lname)
fname = input("First name:  ")
name2.append(fname)
Tel = input("Phone number:  ")
phone.append(Tel)
location = input("Location:  ")
loc.append(location)
email = input("E-mail:  ")
mail.append(email)

print("EDUCATIONAL BACKGROUND\n")
deg = input("Enter degree of program: ")
degr.append(deg)
pname = input("Program name: ")
prog.append(pname)
uname = input("Name of School: ")
uni.append(uname)
year1 = input("Year of Admission: ")
yr1.append(year1)
year2 = input("Year of Graduation:")
yr2.append(year2)

print("WORK EXPERIENCE")
wrk = input("Have you had any work experience: Yes/No\n")
if wrk == "yes":
    position = input('Enter the position in your resent job:')
    pos.append(position)
    organization = input('Enter the name of the organization you worked in:')
    org.append(organization)
    years = input("How many years of experience do you have(specify with digit):")
    yr.append(years)
    work = input('Please type in your work summary:')
    Sum.append(work)
    tp_ach = input('Top Achievement during your working period:')
    a.append(tp_ach)
    obj.append('None')
else:
    works = input('Please type in your objective/aim for the work:')
    obj.append(works)
    pos.append('None')
    org.append('None')
    yr.append('None')
    Sum.append('None')
    a.append('None')

print("SKILLS\n")
skills = list(input("Skills: (use ',' to seperate the skill from another):\n").split(", "))
SK.append(skills)
SKL.append(fname)

PERSONAL INFORMATION

Last name:  AKINLABI
First name:  Samuel
Phone number:  07012659092
Location:  Lagos
E-mail:  samueloreoluwa4@gmail.com
EDUCATIONAL BACKGROUND

Enter degree of program: B Eng.
Program name: Aeronautical and Astronautical Engineering
Name of School: Meara State University, Malete
Year of Admission: 2017
Year of Graduation:2022
WORK EXPERIENCE
Have you had any work experience: Yes/No
yes
Enter the position in your resent job:Teacher
Enter the name of the organization you worked in:Belgian International School
How many years of experience do you have(specify with digit):1
Please type in your work summary:Teaching, although hard but easy to practice. And with my years of experience, I have been able to acquire knowledge on leadership and team work. I hope this knowledge will he useful in years to come
Top Achievement during your working period:None
SKILLS

Skills: (use ',' to seperate the skill from another):
Python, Machine learning, MATLAB, Microsoft Word, Microsoft Excel

In [ ]:
# To add another personnal information, run this block again
while True:
    r = input("Do you want to input another personal information(yes/no): ")
    if r == 'yes':
        count += 1
        print("PERSONAL INFORMATION\n")
        lname = input("Last name:  ")
        name1.append(lname)
        fname = input("First name:  ")
        name2.append(fname)
        Tel = input("Phone number:  ")
        phone.append(Tel)
        location = input("Location:  ")
        loc.append(location)
        email = input("E-mail:  ")
        mail.append(email)
        
        print("EDUCATIONAL BACKGROUND\n")
        deg = input("Enter degree of program: ")
        degr.append(deg)
        pname = input("Program name: ")
        prog.append(pname)
        uname = input("Name of School: ")
        uni.append(uname)
        year1 = input("Year of Admission: ")
        yr1.append(year1)
        year2 = input("Year of Graduation:")
        yr2.append(year2)
        
        print("WORK EXPERIENCE")
        wrk = input("Have you had any work experience: Yes/No\n")
        if wrk == "yes":
            position = input('Enter the position in your resent job:')
            pos.append(position)
            organization = input('Enter the name of the organization you worked in:')
            org.append(organization)
            years = input("Enter the number of year spent in the job:")
            yr.append(years)
            work = input('Please type in your work summary:')
            Sum.append(work)
            tp_ach = input('Top Achievement during your working period:')
            a.append(tp_ach)
            obj.append('None')
            
        else:
            works = input('Please type in your objective/aim for the work:')
            obj.append(works)
            pos.append('None')
            org.append('None')
            yr.append('None')
            Sum.append('None')
            a.append('None')
            
        print("SKILLS\n")
        skills = list(input("Skills: (use ',' to seperate the skill from another):\n").split(", "))
        SK.append(skills)
        SKL.append(fname)
    else:
        break

In [3]:

data = {"Last_name":name1, 'First_name':name2, "Phone_number":phone, "Location":loc, "E-mail":mail}
pinfo = pd.DataFrame(data)
pinfo

   Last_name First_name Phone_number Location                     E-mail
0  AKINLABI     Samuel   07012659092    Lagos  samueloreoluwa4@gmail.com

In [4]:
data1 = {"Degree":degr, "Program":prog, "University":uni, "Admission_year":yr1, "Graduating_year":yr2}
Edu = pd.DataFrame(data1)
Edu

,Degree,Program,University,Admission_year,Graduating_year
0,B Eng.,Aeronautical and Astronautical Engineering,"Meara State University, Malete",2017,2022

In [5]:
data2 = {"Position":pos, "Organisation":org, "Year_spent":yr, "Top_achievement":a, "Work_summary":Sum, "Work_objective":obj}
wexp = pd.DataFrame(data2)
wexp

,Position,Organisation,Year_spent,Top_achievement,Work_summary,Work_objective
0,Teacher,Belgian International School,1,None,"Teaching, although hard but easy to practice. ...",None

In [6]:
Skill = pd.DataFrame(SK, index=SKL)
Skill

              0                 1       2               3                4
Samuel   Python  Machine learning  MATLAB  Microsoft Word  Microsoft Excel

In [7]:
personal = pinfo.to_csv('Samuel_Personal_Information.csv')

In [8]:
Education = Edu.to_csv("Samuel_Educational_Background.csv")

In [9]:
Experience = wexp.to_csv('Samuel_Work_Experience.csv')

In [10]:
SKILL = Skill.to_csv("Samuel_Skill.csv")