In [1]:
import pandas as pd
import numpy as np

In [2]:
count = 1
name1 = []
name2 = []
phone = []
loc = []
mail = []
pos = []
org = []
yr = []
expr = []
Sum = []
obj = []
a = []
SK = []
lname = input("Last name:  ")
name1.append(lname)
fname = input("First name:  ")
name2.append(fname)
Tel = input("Phone number:  ")
phone.append(Tel)
location = input("Location:  ")
loc.append(location)
email = input("E-mail:  ")
mail.append(email)

wrk = input("Have you had any work experience: Yes/No\n")
if wrk == "yes" and "Yes":
    position = input('Enter the position in your resent job:')
    pos.append(position)
    organization = input('Enter the name of the organization you worked in:')
    org.append(organization)
    years = input("Enter the number of year spent in the job:")
    yr.append(years)
    work = input('Please type in your work summary:')
    Sum.append(work)
    tp_ach = input('Top Achievement during your working period:')
    a.append(tp_ach)
    obj.append('None')
else:
    works = input('Please type in your objective/aim for the work:')
    obj.append(works)
    pos.append('None')
    org.append('None')
    yr.append('None')
    Sum.append('None')
    a.append('None')

skills = list(input("Skills: (use ',' to seperate the skill from another):\n").split(", "))
SK.append(skills)

Last name:  AKINLABI
First name:  Samuel
Phone number:  07012659092
Location:  Lagos
E-mail:  samueloreoluwa4@gmail.com
Have you had any work experience: Yes/No
yes
Enter the position in your resent job:Teacher
Enter the name of the organization you worked in:Belvis International School
Enter the number of year spent in the job:3 months
Please type in your work summary:I worked as a teacher for 3 month which was my only allowable time, during his period, I learned about leadership, teamwork. It was a great experience an im hoping it will be useful in the jobs I will take in the future
Top Achievement during your working period:None
Skills: (use ',' to seperate the skill from another):
Python, Machine Learning, Leadership, Microsoft word, Microsoft excel

In [47]:
# To add another personnal information, run this block again
while True:
    r = input("Do you want to input another personal information(yes/no): ")
    if r == 'yes'and'Yes':
        count += 1
        lname = input("Last name:  ")
        name1.append(lname)
        fname = input("First name:  ")
        name2.append(fname)
        Tel = input("Phone number:  ")
        phone.append(Tel)
        location = input("Location:  ")
        loc.append(location)
        email = input("E-mail:  ")
        mail.append(email)
        
        wrk = input("Have you had any work experience: Yes/No\n")
        if wrk == "yes" and "Yes":
            position = input('Enter the position in your resent job:')
            pos.append(position)
            organization = input('Enter the name of the organization you worked in:')
            org.append(organization)
            years = input("Enter the number of year spent in the job:")
            yr.append(years)
            work = input('Please type in your work summary:')
            Sum.append(work)
            tp_ach = input('Top Achievement during your working period:')
            a.append(tp_ach)
            obj.append('None')
            
        else:
            works = input('Please type in your objective/aim for the work:')
            obj.append(works)
            pos.append('None')
            org.append('None')
            yr.append('None')
            Sum.append('None')
            a.append('None')
            
        skills = list(input("Skills: (use ',' to seperate the skill from another):\n").split(", "))
        SK.append(skills)
    else:
        break

Do you want to input another personal information(yes/no): yes
Last name:  Are
First name:  Victor
Phone number:  07069395130
Location:  Ilorin
E-mail:  arevictor75@gmail.com
Have you had any work experience: Yes/No
yes
Enter the position in your resent job:Sales  Director
Enter the name of the organization you worked in:Kerith table water company
Enter the number of year spent in the job:3
Please type in your work summary:It has really given me a veiw of the market and how to deal with customers. I hope to do better in my next job and help solve problems .
Top Achievement during your working period:None
Skills: (use ',' to seperate the skill from another):
AutoCad, Microsoft office
Do you want to input another personal information(yes/no): no

In [3]:
data = {"Last_name":name1, 'First_name':name2, "Phone_number":phone, "Location":loc, "E-mail":mail}
pinfo = pd.DataFrame(data)
pinfo

  Last_name First_name Phone_number Location                     E-mail
0  AKINLABI     Samuel  07012659092    Lagos  samueloreoluwa4@gmail.com

In [4]:
data1 = {"Position":pos, "Organisation":org, "Year_spent":yr, "Top_achievement":a, "Work_summary":Sum, "Work_objective":obj}
wexp = pd.DataFrame(data1)
wexp

,Position,Organisation,Year_spent,Top_achievement,Work_summary,Work_objective
0,Teacher,Belvis International School,3 months,None,I worked as a teacher for 3 month which was my...,None

In [7]:
data2 = pd.Series(SK)
Skill = pd.DataFrame(data2)
Skill

Empty DataFrame
Columns: [0]
Index: []

In [53]:
personal = pinfo.to_csv('SamuelPersonalInformation.csv')

In [45]:
Experience = wexp.to_csv('SamuelWorkExperience.csv')

In [46]:
SKILL = Skill.to_csv("SamuelSkill.csv")